DATABASE_URL="mysql://usuario:senha@localhost:3306/nome_do_banco"
DB_HOST="localhost"
DB_USER="root"
DB_PASSWORD="senha"
DB_NAME="nome_do_banco"
DB_PORT=3306

PORT=3000
JWT_SECRET="troque_por_uma_chave_secreta"
